.center {
    margin: px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h1{
    color:gold;
    text-decoration: solid;
  }

  body{

    background-color:black;
    color:gold;
    text-align: center;
  }

 